@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Typography System */
.font-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font-subheading {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.font-body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.font-ui {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-accent {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 600;
}

.font-playful {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-weight: 600;
}

.FONT_ON_PAGE {
  font-family: "Poppins", sans-serif;
}

* {
    transition: all ease-in-out 150ms;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
*{
    transition: all ease-in-out 150ms;
}
.input {
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}
*::selection{
    background-color: lime;
    color: black;

}
